version: '3'
services:
  postgres:
    image: postgres:12.3
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=news_db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql


volumes:
  postgres_data: